# ===================================================================
# artellapipe-tools-renamer requirements file
# ===================================================================
tpDcc-libs-nameit
tpDcc-tools-nameit
tpDcc-tools-renamer
artellapipe