# ===================================================================
# artellapipe-tools-renamer requirements file
# ===================================================================
artellapipe
tpNameIt
# tpRenamer